.inputSearch {
  border-radius: 4px;
  width: 200px;
  height: 30px;
  border: 2px solid rgb(209, 200, 200);
  padding-left: 10px;
  background-color: rgba(77, 72, 72, 0.836);
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-right: 10px;
  margin-bottom: 35px;
}

.button {
  border-radius: 4px;
  height: 30px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.733);
  border-color: transparent;
  color: rgb(209, 200, 200);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 1px 2px 2px 2px rgba(34, 60, 80, 0.53);
}
